<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.account.entity.Department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="d_Name" jdbcType="VARCHAR" property="dName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, d_Name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.account.entity.Department">
    insert into account_department (id, d_Name)
    values (#{id,jdbcType=INTEGER}, #{dName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.account.entity.Department">
    insert into account_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dName != null">
        d_Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dName != null">
        #{dName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.account.entity.Department">
    update account_department
    <set>
      <if test="dName != null">
        d_Name = #{dName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.account.entity.Department">
    update account_department
    set d_Name = #{dName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>